@charset "utf=8";
/* *{
    outline: 2px red solid;
} */
body{
    background-color: #efefef;
    font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, sans-serif;
}
.wrapper{
    background-color: #fff;
    margin: 0 auto;
}
.header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}
.header_inner h1{
    font-family: "Noto Serif JP", serif;
    font-size: 3rem;
    font-weight: 800;
    width: 400px;
    line-height: 2;
    background-image: url(../images/main_icon.svg);
    background-size: 38px;
    background-repeat: no-repeat;
    background-position: 0 9px;
    padding-left: 50px;
}
.header_inner h1 a{
    color: #000;
}
.header_contact{
    display: flex;
    justify-content: flex-end;
    max-width: 735px;
    font-size: 2rem;
    line-height: 48px;
}

.header_contact p{
    font-weight: 600;
    padding: 0 10px;
}
.header_contact p:last-child{
    padding-right: 0;
}
.header_contact p .phone{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 43px;
    background-image: url(../images/phone_icon.svg);
    background-size: 38px;
    background-repeat: no-repeat;
    background-position: 8px center;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 0 #efefef;
}
.header_contact a{
    display: block;
    width: 200px;
    height: 50px;
    text-align: center;
    background-color: #ea8362;
    border-radius: 5px;
    color: #fff;
    background-image: url(../images/mail_icon.svg);
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: 15px center;
    padding-left: 38px;
    transition-duration: 0.3s;
}
.header_contact a:hover{
    color: #ea8362;
    background-color: #fff;
    border: 1px solid #ea8362;
    background-image: url(../images/mail_icon_hover.svg);
}
header nav.global{
    background-color: #55baa3;
}
header nav.global ul{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 18px 0;
    width: 900px;
    height: 60px;
}
header nav.global ul li a{
    display: block;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 0 20px;
    color: #fff;
    transition-duration: 1s;
    }
header nav.global ul li a:hover span{
    color: #ea8362;
    border-bottom: 1px solid #ea8362;
    }
.main_visual{
    width: 100%;
    height: 500px;
    background-image: url(../images/main_visual3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.main_visual ul{
    font-family: "Noto Serif JP", serif;
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 2;
    padding: 100px 300px 30px;
}
main h2{
    font-size: 3.8rem;
    text-align: center;
    line-height: 3;
    padding-top: 140px;
}
.top_annoy{
    width: 70%;
    margin: 0 auto;
}
.annoy_case{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    gap: 70px;
    margin: 20px 0;
}
.annoy_case h3{
    font-size: 2rem;
    text-align: center;
    margin-top: 90px;
    text-shadow: 0 0 5px #fff;
}
.annoy_case p{
    margin: 0 auto;
}
.annoy_case1{
    background-image: url(../images/annoy_case1.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 5px;
    width: 100%;
    height: 180px;
    object-fit: cover;
}
.annoy_case2{
    background-image: url(../images/annoy_case2.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 5px;
    width: 100%;
    height: 180px;
    object-fit: cover;
}
.annoy_case3{
    background-image: url(../images/annoy_case3.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 5px;
    width: 100%;
    height: 180px;
    object-fit: cover;
}
.annoy_case4{
    background-image: url(../images/annoy_1.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 5px;
    width: 100%;
    height: 180px;
    object-fit: cover;
}
.annoy_case5{
    background-image: url(../images/annoy_case5.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 5px;
    width: 100%;
    height: 180px;
    object-fit: cover;
}
.annoy_case6{
    background-image: url(../images/annoy_case6.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 5px;
    width: 100%;
    height: 180px;
    object-fit: cover;
}
.top_merit{
    width: 70%;
    margin: 0 auto;
    padding-bottom: 120px;
}
.merit_case{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 40px;
    font-size: 1.6rem;
    padding: 20px 0;
}
.merit_case h3{
    padding-bottom: 3px;
    margin-bottom: 10px;
    font-size: 2rem;
    text-align: center;
    font-weight: 600;
    line-height: 30px;
}
.merit_case1,.merit_case2,.merit_case3{
    display: flex;
    flex-direction: column;
}
.merit_case img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.top_reason{
    width: 100%;
    margin: 0 auto;
    padding-bottom: 120px;
    background-color:#fff8e8;
}
.reason_case{
    width: 85%;
    margin: 0 auto;
    font-size: 1.6rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 40px;
    margin: 50px auto;
}
.reason_case h3{
    padding-bottom: 3px;
    margin-bottom: 10px;
    font-size: 2rem;
    text-align: center;
    font-weight: 600;
    line-height: 30px;
}
.reason_case1,.reason_case2,.reason_case3{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
}
.reason_case img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.top_consul{
    width: 100%;
    margin: 0 auto;
}
.consul_step{
    width: 70%;
    margin: 0 auto;
    font-size: 1.6rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 40px;
    margin-bottom: 120px;
}
.consul_step h3{
    padding-bottom: 3px;
    margin-bottom: 10px;
    font-size: 2rem;
    text-align: center;
    font-weight: 600;
    line-height: 30px;
}
.consul_step1,.consul_step2,.consul_step3{
    display: flex;
    flex-direction: column;
}
.consul_ img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.inner_contact{
    width: 100%;
    background-color: #55baa3;
    padding-top: 20px;
}
.inner_contact .consul_free{
    font-size: 2.8rem;
    font-weight: 500;
    text-align: center;
}
.inner_contact2{
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 2rem;
    line-height: 48px;
}
.inner_contact2 p{
    font-weight: 600;
    padding: 0 20px;
    margin: 20px 0;
}
.inner_contact2 p.phone{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 43px;
    background-color: #fff;
    background-image: url(../images/phone_icon.svg);
    background-size: 38px;
    background-repeat: no-repeat;
    background-position: 8px center;
    padding-left: 40px;
    border-radius: 5px;
}
.inner_contact2 a{
    display: block;
    width: 200px;
    height: 50px;
    text-align: center;
    background-color: #ea8362;
    border-radius: 5px;
    color: #fff;
    background-image: url(../images/mail_icon.svg);
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: 15px center;
    padding-left: 38px;
    transition-duration: 0.3s;
}
.inner_contact2 a:hover{
    color: #ea8362;
    background-color: #fff;
    border: 1px solid #ea8362;
    background-image: url(../images/mail_icon_hover.svg);
}
.top_solve{
    width: 70%;
    margin: 0 auto;
    padding-bottom: 120px;
}
.solve_case{
    font-size: 1.6rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 40px;
    margin: 50px 0;
}
.solve_case h3{
    padding-bottom: 3px;
    margin-bottom: 10px;
    font-size: 2rem;
    text-align: center;
    font-weight: 600;
    line-height: 30px;
}
.solve_case1,.solve_case2,.solve_case3{
    display: flex;
    flex-direction: column;
}
.solve_case img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.solve_button{
    font-size: 2rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
}
.solve_button a{
    display: block;
    color: #fff;
    text-align: center;
    width: 300px;
    height: 50px;
    padding: 10px 40px;
    margin: 40px 0;
    background-color: #55baa3;
    border-radius: 5px;
    transition-duration: 0.5s;
}
.solve_button a:hover{
    color: #55baa3;
    background-color: #fff;
    border: 1px solid #55baa3;
}
.top_voice{
    width: 100%;
    margin: 0 auto;
    background-color: #f9ffd5;
}
.voice_case{
    width: 70%;
    margin: 0 auto;
    font-size: 1.6rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 40px;
}
.voice_case h3{
    padding-bottom: 3px;
    margin-bottom: 10px;
    font-size: 2rem;
    text-align: center;
    font-weight: 600;
    line-height: 30px;
    border-bottom: 1px solid #808080;
}
.voice_case1,.voice_case2,.voice_case3{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 40px;
    border: 1px solid #efefef;
    border-radius: 3px;
    box-shadow: 5px 5px 10px 0 #efefef;
}
.voice_case p a{
    color: #000;
}
.voice_case h3 span{
    font-size: 1.8rem;
    font-weight: 400;
}
.voice_case p a span{
    color: #808080;
}
.voice_button{
    font-size: 2rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    margin: 50px 0 120px;
}
.voice_button a{
    display: block;
    color: #fff;
    text-align: center;
    width: 340px;
    height: 50px;
    padding: 10px 40px;
    margin: 40px 0;
    background-color: #55baa3;
    border-radius: 5px;
    transition-duration: 0.5s;
}
.voice_button a:hover{
    color: #55baa3;
    background-color: #fff;
    border: 1px solid #55baa3;
}
.top_colum{
    width: 100%;
    margin: 0 auto;
    padding-bottom: 120px;
}
.colum_list{
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 40px;
}
.colum_list h3{
    padding: 5px 0;
    margin-bottom: 10px;
    font-size: 2rem;
    text-align: center;
    font-weight: 600;
    line-height: 30px;
}
.colum_list1,.colum_list2,.colum_list3{
    padding: 30px;
    border: 1px solid #efefef;
    border-radius: 3px;
    box-shadow: 5px 5px 10px 0 #efefef;

}
.colum_list1 a,.colum_list2 a,.colum_list3 a{
    display: flex;
    flex-direction: column-reverse;
    color: #000;
}
.colum_list img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}
.colum_button{
    font-size: 2rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.colum_button a{
    display: block;
    color: #fff;
    text-align: center;
    width: 310px;
    height: 50px;
    padding: 10px 40px;
    margin: 40px 0;
    background-color: #55baa3;
    border-radius: 5px;
    transition-duration: 0.5s;
}
.colum_button a:hover{
    color: #55baa3;
    background-color: #fff;
    border: 1px solid #55baa3;
}
.top_inquiry{
    max-width: 100%;
    margin: 0 auto;
    padding-bottom: 80px;
    font-size: 1.6rem;
    text-align: justify;
    line-height: 2;
    background-color: #fff8e8;
}
.top_inquiry dl{
    width: 60%;
    margin: 0 auto;
    letter-spacing: 0.1rem;
    padding: 0 30px;
}
.top_inquiry dt{
    font-size: 1.8rem;
    font-weight: 600;
}
.top_inquiry dd{
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px dotted #808080;
}
.ward_q{
    color: #55baa3;
    margin-right: 20px;
}
.ward_a{
    color: #ea8362;
    margin-right: 20px;
}
.inquiry_button{
    font-size: 2rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
}
.inquiry_button a{
    display: block;
    color: #fff;
    text-align: center;
    width: 325px;
    height: 50px;
    padding: 5px 40px;
    margin: 40px 0;
    background-color: #55baa3;
    border-radius: 5px;
    transition-duration: 0.5s;
}
.inquiry_button a:hover{
    color: #55baa3;
    background-color: #fff;
    border: 1px solid #55baa3;
}
.top_info{
    width: 60%;
    margin: 0 auto;
}
.top_info div{
    font-size: 1.6rem;
    display: flex;
    justify-content: flex-start;
    padding: 28px 0;
    border-bottom: 1px dotted #808080;
}
.top_info dt{
    margin-right: 10px;
    color: #808080;
}
.info_button{
    font-size: 2rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.info_button a{
    display: block;
    color: #fff;
    text-align: center;
    width: 300px;
    height: 50px;
    padding: 10px 40px;
    margin-top: 40px;
    background-color: #55baa3;
    border-radius: 5px;
    transition-duration: 0.5s;
}
.info_button a:hover{
    color: #55baa3;
    background-color: #fff;
    border: 1px solid #55baa3;
}
.top_access{
    width: 70%;
    margin: 0 auto;
    padding-bottom: 80px;
}
iframe{
    display: flex;
    margin: 0 auto;
    margin-bottom: 50px;
}
.access h3{
    font-size: 1.8rem;
}
.access1{
    font-size: 1.5rem;
    display: flex;
    margin: 50px 0;
    border-bottom: 1px dotted #808080;
}
.access dl{
    padding-right: 30px;
}
.access dt{
    margin-right: 20px;
}
.access{
    display: flex;
    justify-content: center;
}
.access img{
    width: 100%;
    height: 260px;
    object-fit: cover;
}
.access_button{
    font-size: 2rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
}
.access_button a{
    display: block;
    color: #fff;
    text-align: center;
    width: 280px;
    height: 50px;
    padding: 10px 40px;
    margin: 40px 0;
    background-color: #55baa3;
    border-radius: 5px;
    transition-duration: 0.5s;
}
.access_button a:hover{
    color: #55baa3;
    background-color: #fff;
    border: 1px solid #55baa3;
}
footer{
    background-color: #55baa3;
    color: #fff;
    padding: 20px 40px;
}
footer h2{
    font-family: Noto Serif JP, serif;
}
.footer_inner{
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.footer_inner h2{
    font-size: 2.8rem;
}
.local1{
    font-size: 1.4rem;
    display: flex;
    justify-content: space-between;
    margin: 40px 250px 20px;
    padding: 0 30px;
    line-height: 3rem;
}
.local1 a{
    color: #fff;
    transition-duration: 0.3s;
}
.local1 a:hover{
    border-bottom: 1px solid #fff;
    padding-bottom: 3px;
}
.local_list1 li,.footer_content,.local_list3 li,.local_list4 li{
    font-weight: 600;
}
.footer_contact{
    display: flex;
    justify-content: flex-end;
    max-width: 735px;
    font-size: 2rem;
    line-height: 48px;
    margin-top: 0px;
}
.footer_contact p{
    font-weight: 600;
    padding: 0 10px;
}
.footer_contact p:last-child{
    padding-right: 0;
}
.footer_contact p.phone{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 225px;
    height: 50px;
    padding: 0 20px 0 43px;
    color: #000;
    background-color: #fff;
    background-image: url(../images/phone_icon.svg);
    background-size: 38px;
    background-repeat: no-repeat;
    background-position: 8px center;
    border-radius: 5px;
    border: 1px solid #fff;
}
.footer_contact a{
    display: block;
    width: 200px;
    height: 50px;
    text-align: center;
    background-color: #ea8362;
    border-radius: 5px;
    color: #fff;
    background-image: url(../images/mail_icon.svg);
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: 15px center;
    padding-left: 38px;
    transition-duration: 0.3s;
}
.footer_contact a:hover{
    color: #ea8362;
    background-color: #fff;
    border: 1px solid #ea8362;
    background-image: url(../images/mail_icon_hover.svg);
}
.local2 ul{
    display: flex;
    justify-content: flex-end;
}
.local2 ul li a{
    padding: 0 15px;
    color: #fff;
    border-right: 1px solid #fff;
}
.local2 ul li:last-child a{
    border-right: none;
}
.local_list5{
    display: flex;
    justify-content: space-between;
}

/* contact */
.contact_visual{
    width: 100%;
    height: 250px;
    background-image: url(../images/merit_case1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.contact_visual h2{
    padding: 80px;
}
.contact_text{
    font-weight: 600;
    font-size: 1.8rem;
    width: calc(29em - 30px);
    margin: 0 auto;
    padding: 60px 0;
    text-align: center;
}
.contact_content{
    background-color: #fff8e8;

}
.contact_content1{
    width: 100%;
    font-size: 1.8rem;
    padding: 60px calc(100% - 65%) 20px;
}
.contact_content1 p{
    margin-bottom: 20px;
    line-height: 2;
}
input{
    padding: 5px;
    font-size: 1.8rem;
}
textarea{
    resize: none;
    width: 90%;
    height: 150px;
    font-size: 1.8rem;
    padding: 5px;
}
#mail_address{
    margin-right: 30px;
}
.contact_content2{
    width: 100%;
    text-align: center;
    padding-bottom: 60px;
    font-size: 1.8rem;
}
.contact_content2 p input{
    margin-right: 10px;
}
.contact_content2 p a{
    color: #000;
    border-bottom: 1px solid #000;
    transition: 0.3S;
}
.contact_content2 p a:hover{
    color: #ea8362;
    border-bottom: 1px solid #ea8362;
}
.submit_button{
    text-align: center;
    padding: 60px 0 140px;
}

/* company */
.company_visual{
    width: 100%;
    height: 250px;
    background-image: url(../images/access.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.company_visual h2{
    padding: 80px;
}
.company_detail h3,.company_detail2 h3{
    font-size: 2.4rem;
    text-align: center;
    margin: 60px 0 20px;
}
.company_list{
    width: 40%;
    margin: 0 auto;
}
.company_list div{
    display: flex;
    padding: 40px calc(100% - 90%);
    font-size: 1.6rem;
    border-bottom: 1px dotted #000;
}
.company_list dt{
    margin-right: 20px;
    width: calc(100% - 75%);
}
.company_img{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.company_img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.company_img img{
    padding: 0 10px;
}
.company_detail2{
    margin-bottom: 60px;
}
.company_detail2 p{
    font-size: 1.6rem;
    padding: 0 calc(100% - 75%);
}
hr{
    height: 1px;
    background-color: #fff;
    border: none;
    margin-top: 20px;
}